[MESSAGES CONTROL]
# C0115: Missing class docstring
# C0116: Missing function or method docstring
# W0105: String statement has no effect
# R1732: Consider using `sys.exit()` instead of `raise SystemExit`
# R0914: Too many local variables
# C0413: Import should be placed at the top of the module
# W0718: Catching too general exception Exception (broad-exception-caught)
# R0912: Too many branches
# R0915: Too many statements
# R0903: Too few public methods
# W0511: TODO
# R0913 Too many arguments
# R0917 Too many positional arguments
# R09903: Too few public methods

disable=C0115,C0116,W0105,R1732,R0914,C0413,W0718,R0912,R0915,R0903,W0511,R0913,R0917,R0903

[MASTER]
max-line-length=120
ignore-paths=tests,files
