[Unit]
Description=Monnet Agent Linux Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/monnet_agent/monnet_agent_linux.py
WorkingDirectory=/opt/monnet_agent
Environment="PYTHONPATH=/opt/monnet-core"
User=root
Group=root
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=inherit
SyslogIdentifier=monnet_agent

[Install]
WantedBy=multi-user.target
