[Unit]
Description=Monnet Gateway Service
After=network.target

[Service]
ExecStart=/opt/monnet-core/monnet_gateway/venv/bin/python3 /opt/monnet-core/monnet_gateway/mgateway.py
WorkingDirectory=/opt/monnet-core
Environment="PYTHONPATH=/opt/monnet-core"
Group=root
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=inherit
SyslogIdentifier=mgateway
# Solo padre
#KillMode=process
# Tiemp Espera reinicio
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
